nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-nav {
    display: flex;
    justify-content: flex-start;
}

#title-nav {
    display: flex;
    justify-content: center;
}

#subscription-nav {
    display: flex;
    justify-content: flex-start
}

.buttons-nav {
    background-color: blue;
}