.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  background-color: white;
}

#category-nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.buttons-nav {
  background-color: #6288a5;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 11px;
}

main {
  width: 90%;
  margin: 45px 100px 90px 100px;
  font-size: 17px;
  position: relative;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#wrap-figure {
  width: 85%;
  margin: 0 auto;
}

#container-art-title {
  width: 45%;
  margin: 0 auto;
  display: flex;
}

#art-title {
  width: 61%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1.6;
  font-weight: 700;
}

figcaption {
  margin-top: 5px;
  font-size: 15px;
  width: 75%;
}

#author-art {
  color: grey;
  font-size: 13px;
}

figure>img {
  max-width: 100%;
  height: auto;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 70px;
}

#below-author-name {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

#article-image {
  max-width: 100%;
  height: auto;
}

#text-on-image-upper {
  display: flex;
  justify-content: space-between;
  margin-top: -410px;
  font-size: 12px;
  color: grey;
  text-align: left;
}

#text-on-image-upper p {
  width: 70%;
}

#text-on-image-lower {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  font-size: 12px;
  color: grey;
  text-align: left;
}

#text-on-image-lower p {
  width: 70%;
}

.small-font {
  font-size: 13px;
  color: grey;
}

#video-credits1, #video-credits2 {
  margin: 0;
}

#video-credits1 {
  font-size: 15px;
  color: #666666;
}

#video-credits2 {
  font-size: 13px;
  color: #888888;
}

iframe {
  max-width: 100%;
}

#jumbo-image-middle-article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

#end-smallprints {
  color: #999999;
  font-size: 12px;
}

i {
  background-color: lightgrey;
  font-size: 10px;
  border-radius: 50%;
  border: 1x solid lightgrey;
  padding: 4px 8px;
}

#end-of-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#end-of-article button {
  color: white;
  background-color: #6288a5;
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
}

#row-related-articles {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.column-presentation-related-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-presentation-related-article>h5 {
  width: 70%;
}

#related-articles {
  position: relative;
}

#related-asidebar {
  position: absolute;
  bottom: 26rem;
  right: -4rem;
}

.cover-img-related-art {
  width: 90%;
  height: auto;
}

.extract-related-article {
  width: 100%;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.published-date-related-article {
  color: grey;
  font-size: 13px;
}

footer {
  width: 65%;
  margin: 0 auto;
  clear: left;
}

#separator-footer {
  color: grey;
  border-top-width: 2px;
}

#link-to-home-footer {
  font-size: 11px;
}

#line-1-footer {
  display: flex;
  justify-content: space-between;
}

#line-2-footer {
  display: flex;
  justify-content: space-between;
}

#title-related-links {
  display: flex;
  justify-content: space-between;
}

#columns-links-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#columns-links-footer>ul>li {
  list-style-type: none;
  margin-top: 5px;
}

#columns-links-footer>ul>li>a {
  color: black;
}

#columns-links-footer>ul>li>a:hover {
  color: black;
  text-decoration: underline;
}

#subscribe-section {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  border-left: solid 1px lightgrey;
  align-items: flex-start;
}

#links-subscribe-section {
  display: flex;
  flex-direction: column;
}

#icons-links-subscribe-section {
  display: flex;
  flex-direction: column;
}

#icons-links-subscribe-section>i {
  margin-right: 5px;
  background-color: white;
}

.icons-links-subscribe-section-wrapper {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 10px 0px;
}

.icons-links-subscribe-section-wrapper>i {
  background-color: white;
  padding: 0;
}

.icons-links-subscribe-section-wrapper>a {
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
}

#subscribe-section>div>a {
  color: black;
}

#subscribe-section>div>a:hover {
  text-decoration: underline;
}

.icons-links-subscribe-section a {
  color: black;
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
}

#icons-links-subscribe-section a:hover {
  text-decoration: underline;
}

#links-subscribe-section {
  margin-top: 20px;
}

#links-subscribe-section a {
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
}

#links-subscribe-section a:nth-child(3) {
  border-bottom: solid 1px lightgrey;
}

#line3-footer-horizontal-links {
  display: flex;
  justify-content: center;
  border-top: solid 1px lightgrey;
}

#line3-footer-horizontal-links ul li {
  display: inline-block;
  font-size: 11px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 15px;
}

#line3-footer-horizontal-links a {
  text-decoration: none;
  color: grey;
}

#popular-articles {
  width: 300px;
}

#popular-article>p>a {
  width: 150px;
  color: black;
}

#popular-article>p {
  margin: 15px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 450;
}

#popular-article>p>a:hover {
  text-decoration: transparent;
}

#main-article {
  position: relative;
}

#second-floating-sidebar {
  position: absolute;
  top: 170rem;
  right: 20rem;
  display: flex;
  flex-direction: column;
  width: 150px;
}

#second-floating-sidebar h2 {
  font-size: 18px;
}

#second-floating-sidebar p {
  font-size: 13px;
  padding-bottom: 10px;
}

#second-floating-sidebar button {
  color: white;
  background-color: #6288a5;
  padding: 5px 20px;
  font-size: 13px;
  text-transform: uppercase;
  width: 100%;
}

/* style for first-floating sidebar */

#first-floating-sidebar {
  /* position: absolute;
  top: 1750px;
  left: 1100px;
  display: flex;
  flex-direction: column;
  width: 250px; */
  float: right;
}

.left-asidebar-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 10px 0;
}

.font-aside {
  font-size: 13px;
}

#first-floating-sidebar h3 {
  font-size: 15px;
  margin-left: 15px;
}

#first-floating-sidebar div img {
  width: 75px;
  height: 75px;
}

#first-floating-sidebar a {
  color: #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

#first-floating-sidebar a:hover {
  text-decoration: underline;
}